DATA_GO_KR_SERVICE_KEY=
EMERGENCY_API_URL=http://apis.data.go.kr/B552657/ErmctInfoInqireService/getEmrrmRltmUsefulSckbdInfoInqire
SERIOUS_DISEASE_API_URL=http://apis.data.go.kr/B552657/ErmctInfoInqireService/getSrsillDissAceptncPosblInfoInqire
EMERGENCY_LOCATION_API_URL=http://apis.data.go.kr/B552657/ErmctInfoInqireService/getEgytLcinfoInqire
STAGE1=부산광역시
STAGE2=수영구
PORT=3000
